<html>

<head>
    <meta charset="utf-8">
    <title>Growth Chart</title>
    <style>
        .div {
            width: 500px;
            background: rgb(240, 241, 243);
            border-radius: 10px;
            overflow: auto;
            padding: 42px 55px 45px 55px;
        }

        .maindiv {
            width: 100%;
            min-height: 60vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }

        .input {
            width: 75%;
            background: white;
            font-family: Poppins-Medium;
            font-size: 18px;
            color: #333333;
            line-height: 1.2;
            padding: 0 5px;
        }

        .span {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
        }

        .btn {
            background: rgb(38, 176, 87);
            display: inline-flex;
            justify-content: center;
            padding: 10 50px;
            width: 30%;
            height: 50px;
            border-radius: 10px;
            font-family: Poppins-Medium;
            font-size: 18px;
            color: rgb(250, 250, 250);
            line-height: 1.2;
            padding: 10px 90px;
        }

        .title {
            display: block;
            font-family: Poppins-Bold;
            font-size: 39px;
            color: #000000;
            line-height: 1.2;
            text-align: center;
            padding-bottom: 40px;
        }
    </style>

</head>

<body>
    <div>
        <select id="language" onchange="languageCheck()">
            <option value="English" selected="selected">English</option>
            <option value="French">French</option>
        </select>
    </div>

    <div class="maindiv" style="padding-top:0px;">
        <div class="div">
            <span class="title" id="heading">Weight for Age Percentiles Chart</span>
            <form>
                <label id="idLabel"> Patient ID : </label>
                <input class="input" type="text" name="pid" id="pid" placeholder="Enter The Patient ID">
                <br><br>
                <div>
                    <center>
                        <span>
                            <input id="viewData" class="btn" type="button" value="VIEW DATA" onclick="view()">
                        </span>
                        <span>
                            <input id="viewChart" class="btn" type="button" value="VIEW CHART" onclick="sender()">
                        </span>
                    </center>
                </div style="align-items: center;">
            </form>
        </div>

    </div>



    <script>
        //Excuted when window is loaded. Detects language selected from server and updates the language in dropdown.
        //window.history.forward(); Disables functionality of back button on browser.     
        window.onload = function () {
            window.history.forward();
            if ("<%=language%>" == "French") {
                document.getElementById("language").value = "French";
                languageCheck();
            }

            if ( <%= isNewPid %> ) {
                var language = document.getElementById("language");
                var optionSelect = language.options[language.selectedIndex].value;
                if (optionSelect == "French") {
                    if (confirm("Nouvel ID patient " + "<%=pid%>" + " entré\nCliquez sur OK pour continuer")) {
                        document.getElementById("pid").value = "<%=pid%>";
                        fetch("/startDbSession")
                            .then(handleErrors)
                            .catch(error => {
                                alert("Serveur hors-service");
                            })
                            .then(() => {
                                location.href = "/newEntry/" + "<%=pid%>" + "/" + optionSelect;
                            });
                    } else fetch("/endSession")
                        .then(handleErrors)
                        .catch(error => {
                            alert("Serveur hors-service");
                        });
                } else {
                    if (confirm("New Patient ID " + "<%=pid%>" + " entered\nClick OK to continue")) {
                        document.getElementById("pid").value = "<%=pid%>";
                        fetch("/startDbSession")
                            .then(handleErrors)
                            .catch(error => {
                                alert("Server Down");
                            })
                            .then(() => {
                                location.href = "/newEntry/" + "<%=pid%>" + "/" + optionSelect;
                            });
                    } else fetch("/endSession")
                        .then(handleErrors)
                        .catch(error => {
                            alert("Server Down");
                        });
                }
            }

        }

        //Check the language selected in dropdown and returns the same.
        function languagePreference() {
            var dropDown = document.getElementById("language");
            var optionSelected = dropDown.options[dropDown.selectedIndex].value;
            return optionSelected;
        }

        //Function to update the webpage contents based on the language selected.
        function languageCheck() {
            var optionSelected = languagePreference();
            if (optionSelected == "French") {
                document.getElementById('idLabel').innerHTML = 'Patient ID:';
                document.getElementById('heading').innerHTML = 'Tableau des poids pour les centiles d\'âge';
                document.getElementById("pid").placeholder = "Entrez l'ID du Patient";
                document.getElementById("viewData").value = "VOIR LES DONNÉES";
                document.getElementById("viewChart").value = "VOIR LE TABLEAU";
            } else {
                document.getElementById('idLabel').innerHTML = 'Patient ID:';
                document.getElementById('heading').innerHTML = 'Weight for Age Percentiles Chart';
                document.getElementById("pid").placeholder = "Enter the Patient ID";
                document.getElementById("viewData").value = "VIEW DATA";
                document.getElementById("viewChart").value = "VIEW CHART";
            }
        }

        //Validate the user inputs.
        function dataCheck() {
            var pid = document.getElementById("pid").value;
            var optionSelect = languagePreference();
            if (pid === "") {
                if (optionSelect == "French") {
                    alert("L'ID patient ne doit pas être vide");
                } else {
                    alert('Patient ID should not be empty');
                }
            } else {
                return true;
            }
        }

        //Function to chect errors in fetch statement
        function handleErrors(response) {
            if (!response.ok) {
                throw new Error(response.statusText);
            }
            return response;
        }

        //Function to display the chart.
        function sender() {
            if (dataCheck()) {
                var pid = document.getElementById("pid").value;
                var optionSelect = languagePreference();
                fetch("/chart/" + pid + "/" + optionSelect);
                fetch("/startChartSession")
                    .then(handleErrors)
                    .catch(error => {
                        if (optionSelect == "French")
                            alert("Serveur hors-service");
                        else
                            alert("Server Down");
                    })
                    .then(() => {
                        location.href = "/index.html";
                    });
            }
        }

        //Redirect to database manipulation page
        function view() {
            var optionSelect = languagePreference();
            var pid = document.getElementById("pid").value;
            if (dataCheck()) {
                fetch("/startDbSession")
                    .then(handleErrors)
                    .catch(error => {
                        if (optionSelect == "French")
                            alert("Serveur hors-service");
                        else
                            alert("Server Down");
                    })
                    .then(() => {
                        location.href = "/db/" + pid + "/" + optionSelect;
                    });
            }
        }
    </script>
</body>

</html>